@tailwind base;
@tailwind components;
@tailwind utilities;

.BA {
    padding: 0 5%;
    width: 100%;
    height: 700px;
}
.GH {
    margin: 5% 10%;
}
.GB {
    margin: 0% 10%;
}
.pt {
    padding: 20% 0 20% 60%;
}
.GRID {
    margin: 5% 11%;
    gap: 1.5%;
}
.det {
    margin-right: 20%;
}
.grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10% 10% 3% 10%;
    gap: 5%;
}
.SIZE {
    width: 100%;
}
.AM {
    width: 280px;
}
.Im {
    width: 100%;
}
.sec {
    column-span: 5;
}
.gray {
    background: rgb(240 240 240);
}
.gra {
    background: rgb(240 240 240);
}
.HEG {
    height: 750px;
}
.SIZ {
    width: 75%;
    margin: 3% 8%;
}
.ml {
    margin-left: 40%;
    margin-top: 5%;
}
.MR {
    margin-left: 40%;
    margin-top: 9%;
}
.GT:hover {
    transform: scale(0.9);
}
.full {
    height: 400px;
}
.min {
    height: 500px;
}
@media screen and (max-width:768px) {
    .MN {
        display: grid;
        grid-template-columns: 1fr;
    }
    .fur {
        margin: 0 2%;
    }
    .CLASS {
        display: grid;
        grid-template-columns: 1fr;
    }
    .fon {
        font-size: 20px;
    }
    .XL {
        font-size: 1.2rem !important;
    }
    .ml {
        margin-left: 70%;
        z-index: 10004;
        background-color: white;
    }
    .sA {
        display: none;
    }
    .MR {
        margin-left: 70%;
        margin-top: 30%;
        z-index: 10004;
        background-color: white;
    }
    .SIZE {
        width: 85%;
        margin: 3% 8%;
    }
    .SIZ {
        width: 75%;
        margin: 3% 8%;
    }
    .GP {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 !important;
    }
    .gra {
        display: grid !important;
        grid-template-columns: repeat(4,1fr) !important;
        gap: 0.5rem !important;
        padding: 2px;
    }
    .WID {
        width: 80% !important;
    }
    .Ige {
        width: 85%;
        margin: 3% 7%;
    }
    .gids {
        margin: 3% 4%;
    }
    .GB {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0;
    }
    .HK {
        display: none;
    }
    .GH {
        margin: 5% 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
    }
    .one {
        display: none;
    }
    .Ag {
        z-index: 1004;
    }
    .gray {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0;
    }
    .g {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 2%;
    }
    .get {
        display: none;
    }
    .px {
        padding: 0.5rem 1.5rem;
    }
    .BAG {
        display: none;
    }
    .grids {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10% 5%;
        gap: 5%;
    }
    .BX {
        padding-bottom: 2rem;
    }
    .LEFT {
        margin-right: auto;
    }
    .md {
        display: none;
    }
    .BA {
        padding: 5.7% 5%;
        width: 100%;
        height: 500px;
    }
    .FG {
        font-size: 2rem;
    }
    .Fm {
        font-size: 25px;
    }
    .AK {
        display: grid;
        grid-template-columns: 1fr;
        margin: 7% 23%;
    }
    .MB {
        margin-bottom: 9%;
    }
    .GRID {
        display: grid;
        grid-template-columns: 1fr;
        margin: 7% 25%;
    }
    .sep {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3%;
    }
    .MT {
        margin-top: 5%;
    }
    .det {
        margin-right: 0%;
    }
    .RA {
        margin-top: 2rem;
    }
    .det {
        text-align: center;
    }
    .HA {
        font-size: 20px;
    }
    .AN {
        margin: 6% auto;
    }
    .ml{
        margin: 0 10px;
        text-align: center;
    }
}
@media screen and (max-width:425px) {
    .MN {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3% 4%;
    }
    .ml{
        margin: 0 10px;
    }
    .fur {
        display: grid;
        grid-template-columns: 1fr;
    }
    .GB {
        display: grid;
        grid-template-columns: 1fr;
    }
    .md {
        display: none;
    }
    .head {
        padding-top: 20%;
    }
    .stem {
        position: sticky;
    }
    .BA {
        margin-left: 5%;
        width: 100%;
        height: 300px;
    }
    .FG {
        font-size: 1.5rem;
    }
    .BTN {
        padding: 0.5rem 0.5rem;
        white-space: nowrap;
    }
    .BTN:hover {
        padding: 0.5rem 0.5rem !important;
        white-space: nowrap;
    }
    .Fm {
        font-size: 12px;
    }
    .AK {
        display: grid;
        grid-template-columns: 1fr;
        margin: 7% 8%;
    }
    .MB {
        margin-bottom: 9%;
    }
    .GRID {
        display: grid;
        grid-template-columns: 1fr;
        margin: 7% 10%;
    }
    .HA {
        font-size: 12px;
    }
    .AN {
        padding: 0.5rem 1rem;
    }
    .sep {
        display: grid;
        grid-template-columns: 1fr;
    }
    .TN {
        margin-top: 30%;
    }
    .grids {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10% 5% 10% 5%;
    }
    .sm {
        font-weight: 300;
    }
    .GH {
        margin: 5% 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3%;
    }
    .px {
        padding: 0.5rem 5rem;
        margin-bottom: 3%;
    }
    .HK {
        margin: 3% 30%;
    }
    .gray {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0;
    }
    .g {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 2%;
    }
    .DIS {
        display: none;
    }
    .As {
        display: none;
    }
    .MX {
        margin: 0;
    }
    .over {
        overflow-y: scroll;
    }
    .xl {
        font-size: 1.5rem;
    }
    .sm{
        width: 90%;
    }
    .gra {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 0.5rem !important;
        padding: 2px;
    }
    .FLEX {
        display: flex;
    }
    .SIZE {
        width: 90%;
        margin: 3% 8%;
    }
    .SIZ {
        width: 80%;
        margin: 3% 8%;
    }
    .sA {
        display: none;
    }
}